<body>
  <div>{% include 'core\components\common\navbar.html' %}</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 mt-2 text-center">
        <h2>FUNDACIONES</h2>
      </div>
    </div>
  </div>
  {% for f in fundaciones %}
  <div>
    <div class="container">
      <div class="row">
        <div class="mt-4 fundacion{{f.idFundacion}} rounded-personalizado">
          <a
            class="btn btn-primary m-4 p-3"
            data-bs-toggle="modal"
            href="#fundacion{{f.idFundacion}}"
            role="button"
            >{{f.nombreFundacion}}</a
          >
        </div>
      </div>
    </div>

    <!-- pop up de fundacion-->
    <div
      class="modal fade"
      id="fundacion{{f.idFundacion}}"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="fundacion{{f.idFundacion}}">
              {{f.nombreFundacion}}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body justify-content-center">
            <img
              class="rounded-personalizado"
              src="{{f.fotoFundacion}}"
              alt=""
              width="100%"
              height="100%"
            />
            {{f.descFundacion}}
          </div>
          <div class="modal-footer">
            <a href="{{f.website}}">
              <button
                class="btn btn-primary"
                data-bs-dismiss="modal"
                id="btn-donacion"
                data-bs-toggle="modal"
              >
                Visitar pagina Web
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style type="text/css">
    .fundacion{{f.idFundacion}} {
      background-image: url({{f.fotoFundacion}});
      height: 20rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  </style>

  {% endfor %}
  <!-- pop up de cada fundacion fin -->
  <div class="row">
    <div class="col-sm-12 mt-4 mb-2 text-center">
      <small class="blockquote-footer"
        >Patricio Alarcon<cite title="Source Title"> El bromas</cite></small
      >
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-8 col-12 mx-auto">
          <p class="lead">
            "El mundo sería un lugar mucho mejor si las personas tuvieran el
            corazón de los perros"
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
<div>{% include 'core\components\common\footer.html' %}</div>
