{% load static %}

<body>
    <div>{% include 'core\components\common\navbar.html' %}</div>
    <div class="text-center mt-3">
        <h1>Inicia Sesión</h1>
    </div>
    <div class="container w-25 uso-completo">
        <form class="row mt-4 form needs-validation" id="formulario" method="POST" novalidate>
            {% csrf_token %}

            <div class="form-group">
                <label for="user" class="form-label">Correo electrónico</label>
                <input type="text" class="form-control" id="user" name="user" required />
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Contraseña</label>
                <input type="text" class="form-control" id="password" name="password" required />
            </div>
            <div class="row mt-4">
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="login">Iniciar sesión</button>
            </div>
            </div>
            <div class="row mt-4">
                <div class="text-center">
                    <p>¿Aún no eres miembro? <a href="{% url 'registro' %}">Registrarme</a></p>
                </div>
                
            </div>
        </form>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
<div>{% include 'core\components\common\footer.html' %}</div>