
  <body>
<div class="row">
  <div class="col-lg-12 mb-4 mt-2 text-center">
    <h2>NOSOTROS</h2>
  </div>
</div>
</div>
  <div class="text-center">
    <img src="images/nosotros.png" class="rounded-personalizado" alt="">
  </div>

<div class="container w-50">
  <div class="text-center bg-primario">
    <h3 style="color: aliceblue;">Patricio Alarcon</h3>
    <p class="">Encargado del diseño de la pagina junto con las imagenes y diferentes estilos entregados aplicando bootstrap en toda la pagina.</p>
  </div>
  <div class="text-center bg-primario">
    <h3 style="color: aliceblue;" >José Alcántara</h3>
    <p class="">Encargado del front-end de la pagina llevando el diseño a codigo HTML5 y CSS3 y JS.</p>
  </div>
</div>
</body>
<footer class="text-center bg-secundario text-light">
  <div class="container pt-3">
    <div class="row">
      <div class="col-12">
        <p>Copyright &copy; WOOF & MIAU. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
